@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scrolling */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* Track background */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5); /* Scrollbar color */
  border-radius: 4px; /* Rounded edges */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7); /* Darker color on hover */
}
